MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=prestashop
MYSQL_USER=prestashop
MYSQL_PASSWORD=prestashop

PMA_PORT=8081
APP_PORT=8083
HTTP_PORT=8280
HTTPS_PORT=1443
MAILHOG_PORT=8082

# find your user id by running "id -u"
PHP_UID=501

ENV=prod

# Keep it empty, sentry is not suited for dev environments.
SENTRY_DSN=

# must be valid prestashop keys, 56 characters long for PS_SECRET and PS_COOKIE_KEY, 8 characters for PS_COOKIE_IV, 136 characters for PS_NEW_COOKIE_KEY

PS_SECRET=bohYvE4vVuCrNrpabJMqrid7rfUHbEpmNNqLnKhfMrUNjikXf4bNA4N9
PS_COOKIE_KEY=UFAKoC3gPuqsXxdj4VYnjvs4XfnjYhoummpCcfzcVTosmbnFEugtHwwC
PS_COOKIE_IV=12345678
PS_NEW_COOKIE_KEY=NpFgmXJMfFwRPHqWqJoMhLdXoL9hgR7WTcptgyA4tq9jexi9Rr7MFbNavXp4MtKEzbKteAxzsfMNp3KjHnzRjKvahPbCrTxyMkRCxmxAHJW7dXjcxRhCxrphL9Tx4z3HfuoMdUjb

# Don't use "admin"
ADMIN_FOLDER=admin616neoase

# Remove after bootstraping.

PS_VERSION=1.7.7.7
PS_VERSION_BRANCH=1.7.7.x

# Generate a valid token here: https://github.com/settings/tokens/new?scopes=repo&description=Composer+ps
COMPOSER_AUTH='{"github-oauth": {"github.com": "replace_by_a_valid_token"}}'
